@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --SkyBlue: #3f8fd7; /*Redes sociales*/
  --OrangeMain: #F18825; /*Creatividad*/
  --BlueLightMain: #2563eb;
  --OrangeSecond: #F3953F; /*Animación 2D*/
  --RedMain: #E94362; /*Branding*/
  --BlackMain: #3C3C3B; /*Copy*/
  --PurpleMain: #6561A9; /*Diseño web*/
  --GreenLightMain: #8CCAAE; /*Audiovisual*/
  --YellowMain: #fcfe00; /*Tecnica de ventas*/
}

body {
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.cardHover{
  transition: all 150ms ease-in;
}

.cardHover:hover{
  background-color: var(--SkyBlue);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 21px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.cardHover:hover h1{
  background-color: var(--RedMain);
}

.rounded-oval {
  clip-path: ellipse(50% 50% at 50% 50%);
}

/* REASONS SECTION */
.backgroundAll {
  background-image: url('./assets/fondo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ANIMATION FOR BUTTON CONTACT */

.animated-button {
  position: relative;
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: var(--YellowMain);
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 600;
  color: black;
  box-shadow: 0 0 0 2px var(--YellowMain);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

@media (max-width: 640px) {
  .animated-button{
    width: 60%;
  }
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: black;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--YellowMain);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: black;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: black;
}


.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* END ANIMATION FOR BUTTON CONTACT */

/* PORTAFOLIO STYLES */
.swiper {
  width: 100%;
  height: 100vh;
}

.testimonials-swiper {
  height: 70vh;
}

.testimonials-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

@media (max-width: 640px) {
  .testimonials-swiper .swiper-slide {
    width: 250px;
    height: 300px;
  }
}

/* SLIDER LOGOS */
.slider {
  width: 80vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 800px) {
  .slider {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
}

.slider .slide-track {
  display: flex;
  align-items: center;
  column-gap: 20px;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 16);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 5));
    transform: translateX(calc(-200px * 5));
  }
}

/* STYLES FOR TEAMSECTION */
.bg-team-section {
  background-image: url("./assets/fondoEquipo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.bg-team-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* Opacidad del overlay */
  z-index: 0;
}

.bg-team-section>* {
  position: relative;
  z-index: 1;
}

.card-team {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.card-team:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 45px rgba(255, 255, 255, 0.25);
}

.card-team::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.15) 100%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-team:hover::before {
  animation: shineDown 1s ease forwards;
  opacity: 1;
}

@keyframes shineDown {
  0% {
    top: -100%;
  }

  100% {
    top: 100%;
  }
}

.card-team img {
  mask-image: linear-gradient(black 60%, transparent);
  z-index: 2;
}

.card-team>* {
  position: relative;
  z-index: 2;
}

.slick-slide>div {
  margin: 0 10px;
  padding: 30px;
}

/* BUTTON OF ABOUTUS */
/* From Uiverse.io by himanshu9682 */
.type--A {
  --line_color: #555555;
  --back_color: #fcfe00;
}

.type--B {
  --line_color: #1b1919;
  --back_color: #fcfe00;
}

.type--C {
  --line_color: #00135c;
  --back_color: #fcfe00;
}

.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}

.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}

.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}

.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}

.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}

.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}

.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}

.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}

.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}

.button:hover {
  letter-spacing: 6px;
}

.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}

.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}

.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}

.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}

.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}

.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}

.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}

.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}

.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}

.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}

.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}

.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}

@keyframes drow1 {
  0% {
    height: 0;
  }

  100% {
    height: 100px;
  }
}

@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  11% {
    opacity: 1;
  }

  100% {
    width: 120px;
  }
}

@keyframes drow3 {
  0% {
    width: 0;
  }

  100% {
    width: 80px;
  }
}

@keyframes drow4 {
  0% {
    height: 0;
  }

  100% {
    height: 120px;
  }
}

@keyframes drow5 {
  0% {
    width: 0;
  }

  100% {
    width: 124px;
  }
}

.containerButton {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button:not(:last-child) {
  margin-bottom: 64px;
}

/* REASONS SECTION */
.backgroundReasons {
  background-image: url('./assets/fondoElegirnos.jpg');
    background-color: rgba(0, 0, 0, 0.1);
      /* Ajusta la opacidad aquí */
      background-blend-mode: overlay;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 20px 0;
}

/* FOOTER SECTION */
.backgroundFooter {
  background-image: url('./assets/fondoFooter.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  color: white;
}